body {
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(/Lahiye/Images/gif.gif);
    background-attachment: fixed;
}

/**FIRST SECTION START**/

.section-1 {
    display: flex;
    justify-content: space-between;
    margin: 24px 116px;
    font-size: 27px;
    align-items: baseline;
}

.section-1-icon-lamp i {
    color: rgb(9, 255, 9);
}

/*!FIRST SECTION END**/

/**sECOND SECTION START */

.section-2 {
    display: flex;
    justify-content: space-between;
}

#section-2-div-1 {
    padding: 35px 0px 0px 100px;
}

#section-2-h1 {
    font-size: 55px;
    margin-bottom: 25px;
}

#section-2-span {
    color: rgb(9, 255, 9);
    font-weight: bold;
    font-size: 60px;
}

#section-2-h4 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 25px;
}

#section-2-p {
    font-family: serif;

}

#section-2-button {
    text-transform: uppercase;
    outline: none;
    border: none;
    padding: 25px 25px;
    border-radius: 50px;
    background-color: rgb(9, 255, 9);
    color: white;
    letter-spacing: 5px;
    margin-top: 25px;
}

#section-2-img {
    height: 600px;
    border-radius: 92px;
    padding: 50px;
}

/*!SECOND SECTION END */

/**THIRD SECTION START */

.section-3 {
    display: flex;
    justify-content: space-between;
}

#section-3-img {
    height: 650px;
    border-radius: 92px;
    padding: 60px 0px 0px 55px;
}

#section-3-div-2 {
    height: 600px;
    border-radius: 70px;
    padding: 133px;
}

.section-3-button {
    outline: none;
    border: none;
    padding: 25px 25px;
    border-radius: 50px;
    background-color: rgb(9, 255, 9);
    color: white;
    letter-spacing: 5px;
    margin-top: 25px;

}


/*!THIRD SECTION END */

/**FOURTH SECTION START */

#section-4 {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

#section-4>div {
    padding: 30px;
    font-size: 70px;
    font-family: Cambria;
    font-weight: bolder;
    color: rgb(9, 255, 9);
    text-align: center;
}

#section-4>div>p {
    font-size: 20px;
    color: rgb(30, 134, 4);
}

/*!FOURTH SECTION END  */

/* *FIFTH SECTION START */

#section-5>div {
    display: flex;
    justify-content: center;
}

#section-5-p {
    padding-top: 10px;
    padding-left: 100px;
    text-align: center;
    font-size: 15px;
    padding-right: 100px;
    line-height: 30px;
    padding-bottom: 20px;
}

/* !FIFTH SECTION END */

/** SIXTH SECTION START */

#section-6 {
    display: flex;
    margin: auto 90px;
    justify-content: center;
}

#section-6>div {
    width: 25%;
    background-color: white;
    margin: 5px 15px;;
    padding: 30px;
    text-align: center;
    font-family: Cambria;
    box-shadow: 1px 1px 20px 5px rgb(131, 131, 131);
}

#section-6 i {
    font-size: 60px;
    color:rgb(9, 255, 9);
    padding-top: 30px;
}

/* !SIXTH SECTION END */

/* *SEVENTH SECTION START */








/* !SEVENTH SECTION END */

